<text-atom text="Headline 1" typoName="headline1" />
<text-atom text="Headline 2" typoName="headline2" />
<text-atom text="Headline 3" typoName="headline3" />
<text-atom text="Headline 4" typoName="headline4" />
<text-atom text="Headline 5" typoName="headline5" />
<text-atom text="Headline 6" typoName="headline6" />
<text-atom text="Subtitle 1" typoName="subtitle1" />
<text-atom text="Subtitle 2" typoName="subtitle2" />
<text-atom text="Body 1" typoName="body1" />
<text-atom text="Body 2" typoName="body2" />
<text-atom text="BUTTON" typoName="button" />
<text-atom text="Caption" typoName="caption" />
<text-atom text="OVERLINE" typoName="overline" />